#icon-button,
#icon-button-active{
    text-align: center;
    font-size: xx-large;
    border-radius: var(--buttonBorderRadius);
    height: var(--buttonHeight);
    width: var(--buttonWidth);
    outline: none;
    border-width: 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#icon-button {
    color: var(--primary);
    background-color: var(--secondary);
}
#icon-button-active, #icon-button:hover {
    color: var(--secondary);
    background-color: var(--primary);
}
#icon {
    height: 100%;
    width: 100%;
}

#tooltip {
    font-family: monospace;
}
