#iconButtonInner {
    color: var(--primary);
}

#iconButton {
    background-color: var(--secondary);
    width: 30px;
    height: 30px;
    border-radius: 4px;
    /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
    box-shadow: var(--buttonshadow);
}
#iconButton:hover #iconButtonInner{
    color: var(--secondary);
}
#iconButton:hover{
    background-color: var(--primary);
    box-shadow: 0px 0px 10px #00D2BE;
}
#iconButton:active{
    box-shadow: 0px 0px 20px #00D2BE;
}