#icon-button,
#icon-button-active {
    padding: 3px;
    text-align: center;
    border-radius: var(--buttonBorderRadius);
    height: var(--buttonHeight);
    width: var(--buttonWidth);
    outline: none;
    border-width: 0;
    background: none;
    /* box-shadow: var(--buttonShadow); */
}

#icon-button {
    color: var(--primary);
}
#icon-button:hover {
    color: var(--secondary);
}

#icon-button-active {
    color: var(--activeToolColor);
}

#icon {
    height: 100%;
    width: 100%;
}
