.homebar {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    position: fixed;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
    width: auto;
    justify-content: space-evenly;
    padding: 10px;
    border-radius: 4px;
}

.homebar:hover {
    box-shadow: 0px 0px 10px #00D2BE;
}