canvas {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #008800;
}

li {
    float: left;
    color: green;
}

li a {
    color: white;
    display: block;
    padding: 12px;
    background-color: #aaaaaa;
    text-decoration: none;
}

header {
    background-color: rgb(208, 199, 255);
}

body{
    color: white;
}

footer{
    background-color: wheat;
}