.dialogbuttons {
    border-radius: 4px;
    display: grid;
    grid-template-rows: 50px 50px 40px;
    gap: 10px;
    margin: auto;
    width: 300px;
}

#container {
    /* background-color: rgb(114, 112, 100); */
    border-left: 1px solid rgb(0, 0, 0);
    border-right: 1px solid rgb(0, 0, 0);
}