.toolbar {
    background: var(--menubar-background);
    display: grid;
    grid-auto-flow: column;
    position: fixed;
    gap: var(--button-gap);
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    justify-content: space-between;
    top: 0px;
    left: 0px;
    right: 0px;
    box-shadow: var(--menubar-box-shadow);
}

.toolbar-group {
    display: grid;
    grid-auto-flow: column;
    gap: var(--button-gap);
}

.favtools {
    background: var(--menubar-background);
    display: grid;
    grid-auto-flow: row;
    position: fixed;
    gap: 10px; /* var(--button-gap); */
    padding: 4px;
    border-top-right-radius: var(--menubar-border-radius);
    border-bottom-right-radius: var(--menubar-border-radius);
    justify-content: space-between;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
    box-shadow: var(--menubar-box-shadow);
}
