.homebar,
.toolbar,
.extratools {
    background: var(--menubarBackground);
    -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
    -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
    position: fixed;
    display: grid;
    gap: var(--buttonGap);
    width: auto;
    justify-content: space-evenly;
    padding: 5px;
    border-radius: var(--menubarBorderRadius);
    z-index: 10;
}

/* .homebar:hover,
.toolbar:hover,
.viewbar:hover,
.extratools:hover,
.width-picker:hover {
    box-shadow: var(--menubarBoxShadow);
} */

.viewbar {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    display: grid;
    gap: var(--buttonGap);
    width: auto;
    justify-content: space-between;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    /* border-radius: var(--menubarBorderRadius); */
    z-index: 10;
    width: 100%;
    bottom: 0px;
    grid-auto-flow: column;
}

.homebar {
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    grid-auto-flow: row;
}

.toolbar {
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    grid-auto-flow: column;
}

.toolring {
    display: grid;
    grid-auto-flow: column;
    margin-left: 20px;
    margin-right: 20px;
    gap: 15px;
    background: var(--toolRing);
    border-radius: 4px;
    width: fit-content;
    height: var(--buttonHeight);
}

.extratools {
    gap: 15px;
    position: absolute;
    top: 50px;
    left: 100px;
    grid-auto-flow: column;
}