.session-dialog-div{
    width: var(--buttonWidth);
    height: var(--buttonHeight);
}

.session-dialog {
    position: fixed;
    top: 50px;
    left: 0px;
}

.session-dialog-wrap {
    display: grid;
    grid-auto-flow: row;
    width: 300px;
    height: 200px;
    gap: var(--buttonGap);
    justify-content: space-evenly;
    background: var(--menubarBackground);
    border-radius: var(--menubarBorderRadius);
    box-shadow: var(--menubarBoxShadow);
}

.dialog-buttons-wrap {
    display: grid;
    grid-auto-flow: column;
    border-radius: var(--buttonBorderRadius);
    gap: var(--buttonGap);
    margin: auto;
    justify-content: space-between;
}

.sessionDialogInput {
    height: 30px;
    width: 100%;
    color: var(--primary);
    background: var(--secondary);
    border-width: 0px;
    border-radius: var(--buttonBorderRadius);
    outline: none;
    text-align: center;
}

#buttonIcon {
    height: 80%;
    width: 80%;
    /* margin: auto; */
}

#buttonDialog {
    text-align:center; 
    padding: 0px;
    border-radius: var(--buttonBorderRadius);
    height: 70px;
    width: 80px;
    color: var(--primary);
    background: var(--secondary);
    outline: none;
    border-width: 0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#buttonDialog:hover {
    color: var(--secondary);
    background: var(--primary);
}
