:root {
    --primary: #00D2BE;
    --secondary: rgb(73, 73, 82);
    --tertiary: rgba(226, 226, 226, 0.616); /* bar background */ 
    --background: #4A4A4A;
    --pagesbackground: #88888888;
    --buttonshadow: 0px 0px 3px #00000088;
    --canvas: #ffffff;
    --canvasborder: 1px solid rgb(104, 104, 104);
  }