:root {
    --primary: #ffffff;
    --secondary: #1a1a1a;
    --activeToolColor: #00ff00;
    --menubarBackground: #00000088;
    --menubarBoxShadow: 0px 0px 2px 0px #00000088;
    --menubarBorderRadius: 4px;
    --backgroundColor: #000000;
    --backgroundImage: linear-gradient(#888888, #696969);
    --pagesBackground: #88888888;
    --buttonHeight: 30px;
    --buttonWidth: 30px;
    --buttonGap: 0px;
    --buttonShadow: 0px 0px 3px #00000088;
    --buttonBorderRadius: 4px;
    --boxShadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    --canvasBackgroundColor: #ffffff;
    --canvasBackgroundPosition: -10px -10px;
    --canvasBackgroundSize: 20px 20px;
    --canvasBackgroundImage: linear-gradient(
            rgba(150, 150, 150, 0.3) 1px,
            transparent 1px
        ),
        linear-gradient(90deg, rgba(150, 150, 150, 0.3) 1px, transparent 1px);
    --canvasBorder: 0px solid rgb(104, 104, 104);
    --canvasWidth: 620px;
    --canvasHeight: 877px;
}

/* background-image: -webkit-linear-gradient(0deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px), -webkit-linear-gradient(#eee .05em, transparent .05em);
  background-image: -moz-linear-gradient(0deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px), -moz-linear-gradient(#eee .05em, transparent .05em);
  background-image: -ms-linear-gradient(0deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px), -ms-linear-gradient(#eee .05em, transparent .05em);
  background-image: -o-linear-gradient(0deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px), -o-linear-gradient(#eee .05em, transparent .05em);
  background-image: linear-gradient(0deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px), linear-gradient(#eee .05em, transparent .05em); */

/* background-image: repeating-linear-gradient(transparent, transparent 50px, rgba(0,255,255, .25) 50px,rgba(0,255,255, .25) 100px); */
/* repeating-linear-gradient(90deg, rgba(0,255,255, .25), rgba(0,255,255, .25) 50px, transparent 50px, transparent 100px), 
  repeating-linear-gradient(135deg, transparent, transparent 4px, rgba(255,255,255,.1) 4px, rgba(255,255,255,.1) 8px), 
  repeating-linear-gradient(45deg, transparent, transparent 4px, rgba(255,255,255,.1) 4px, rgba(255,255,255,.1) 8px), 
  repeating-linear-gradient(transparent, transparent 20px, rgba(100,250,250, .2) 20px, rgba(100,250,250, .2) 21px, 
  transparent 21px,transparent 29px, rgba(100,250,250, .2) 29px, rgba(100,250,250, .2) 30px, transparent 30px, transparent 50px), 
  repeating-linear-gradient(90deg, transparent, transparent 20px, rgba(100,250,250, .2) 20px, rgba(100,250,250, .2) 21px, 
  transparent 21px,transparent 29px, rgba(100,250,250, .2) 29px, rgba(100,250,250, .2) 30px, transparent 30px, transparent 50px); */
