.toolbar {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    position: fixed;
    left: 20px;
    top: 80px;
    display: grid;
    gap: 20px;
    width: 30px;
}

#iconButton {
    background-color: #00D2BE;
    width: 50px;
    height: 20px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
#iconButton:hover #iconButtonInner{
    color: #00D2BE;
    
}
#iconButton:hover{
    background-color: black;
    
}

#textField {
    color: black;
    background-color: #00D2BE;
    width: 50px;
    height: 15px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.colorpicker {
    position: fixed;
    left: 100px;
    top: 80px;
}
