.toolbar {
    position: fixed;
    right: 40px;
    top: 100px;
    display: grid;
    gap: 20px;
    width: 30px;
}

#button {
    height: 30px;
}

.colorpicker {
    position: fixed;
    right: 300px;
    top: 100px;
}