.pn {
    display: grid;
    grid-auto-flow: column;
}

.pn-firstpage,
.pn-prevpage,
.pn-pageindex,
.pn-nextpage,
.pn-lastpage {
    padding: 0px;
    text-align: center;
    height: var(--buttonHeight);
    width: var(--buttonWidth);
    outline: none;
    border-width: 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    color: var(--primary);
    background: var(--secondary);
}

.pn-pageindex {
    font-size: 160%;
}

.pn-firstpage:hover,
.pn-prevpage:hover,
.pn-pageindex:hover,
.pn-nextpage:hover,
.pn-lastpage:hover {
    color: var(--secondary);
    background: var(--primary);
}

.pn-firstpage {
    border-top-left-radius: var(--buttonBorderRadius);
    border-bottom-left-radius: var(--buttonBorderRadius);
    /* border-top: 1px solid var(--primary); */
}

.pn-lastpage {
    border-top-right-radius: var(--buttonBorderRadius);
    border-bottom-right-radius: var(--buttonBorderRadius);
    /* border-bottom: 1px solid var(--primary); */
}
