.canvasdiv {
    display: flex;
    flex-flow: column;
    height: 100vh;
    width: auto;
    overflow: auto;
    align-items: center;
}

canvas {
    touch-action: none;
    background-color: #ffffff;
    border: 1px solid rgb(104, 104, 104);
    border-radius: 4px;
    margin: 10px;
}
