.whiteboard {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: var(--backgroundColor);
    background-image: var(--backgroundImage);
}